@page "/"

<PageTitle>Home</PageTitle>

<div class="text-center">
    <h1 class="display-4">Welcome to Blazor CRUD Demo</h1>
    <p>This is a simple CRUD application built with Blazor Server.</p>
</div>
